{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}
{% block main_content %}

      <!-- details section -->
      <section id="recipe-details">
        <h1>Recipe Details</h1>
        <div class="info-section">
          <div class="recipe-header">
            <!-- recipe image -->
            {% if not recipe.image_url %}
            <!-- if there is no image url provided, display the default recipe image -->
                <img
                  class="recipe-img"
                  src="{% static 'images/default_recipe_img.png' %}"
                  alt="default recipe image"
                />
            {% else %}
                <img
                  class="recipe-img"
                  src="{{ recipe.image_url }}"
                  alt="{{ recipe.title }} image"
                />
            {% endif %}

            <!-- recipe title -->
            <h1>{{ recipe.title }}</h1>
            <!-- recipe cuisine type -->
            <p><span class="description-recipe">Cuisine Type: {{ recipe.get_cuisine_type_display }}</span></p>
            <!-- recipe cooking time -->
            <p><span class="description-recipe">Cooking Time: {{ recipe.cooking_time }}min.</span></p>
            <!-- recipe ingredients -->
            <div class="ingredients">
              <p><span class="description-recipe">Ingredients:</span></p>
              <ul>
                {% for ingredient in recipe.ingredients|split_by_comma_and_space %}
                <!-- recipe ingredient -->
                <li>{{ ingredient }}</li>
                {% endfor %}
{#                <!-- recipe ingredient -->#}
{#                <li>Fresh mozzarella cheese</li>#}
{##}
{#                <!-- recipe ingredient -->#}
{#                <li>Fresh basil leaves</li>#}
{##}
{#                <!-- recipe ingredient -->#}
{#                <li>Balsamic glaze</li>#}
              </ul>
            </div>
            <p>
              <span class="description-recipe"
                >{{ recipe.instructions }}</span
              >
            </p>
          </div>

          <!-- Edit/Delete buttons -->
          <div class="buttons">
            <a href="{% url 'recipe_edit' pk=recipe.pk %}" class="edit-button">Edit</a>
            <a href="{% url 'recipe_delete' pk=recipe.pk %}" class="delete-button">Delete</a>
          </div>
        </div>
      </section>

{% endblock %}
